#container{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    font-family: "Heletica Neue", "Heletica", Helvetica, Arial, sans-serif;
}
#header{
    background-color: navy;
    color: white;
    padding:0
}

img {
    height: 2em;
    display: inline-block;
    vertical-align: middle;
}
#main{
    background-color: grey; 
    color: navy;
}
#sidebar{
    width:180px;
    float: left;
}
#content{
    width: 600px;
    float: right;
}
#footer{
    clear: both;
    text-align: center;
    background-color: orange;
    color: navy;
}
